<!DOCTYPE html>
<html lang="en">
<head>
  <title>OHG Main</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<style>
p, ol {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 100px;
    margin-left: 100px;}
</style>

    {% include 'blocks/mainnavbar.html' %}

    {% block content %}
    {% endblock %}
</body>
</html>