{% extends 'base.html' %}

{% block content %}
<style>
p, ol {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 100px;
    margin-left: 100px;}
table {
    border: 1px solid black;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 100px;
    margin-left: 100px;}

td, tr {
    text-align: left;
    border: 1px solid black;
    height: 50px;
    vertical-align: center;
    padding: 15px;

}

a:link, a:visited { 
  color: #AF0000;
  text-decoration: none;
  cursor: auto;
}
</style>

<form class="form-horizontal" action="/dictionary">
    <div class="form-group">
      <label class="control-label col-sm-1" for="email">Words:</label>
      <div class="col-sm-5">
        <input type="word" class="form-control" id="email" placeholder="Enter words" name="words"> 
      </div>
	<button type="submit" class="btn btn-default">Search</button>
    </div>
 </form>

{{result | safe }}

{% endblock %}
