{% extends 'base.html' %}

{% block content %}
<form class="form-horizontal" action="/">
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Word:</label>
      <div class="col-sm-6">
        <input type="word" class="form-control" id="email" placeholder="Enter word" name="word">
      </div>
    </div>

    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-6">
        <button type="submit" class="btn btn-default">Search</button>
      </div>
    </div>
  </form>

{% endblock %}