.menu-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
}

.menu-li {
    float: left;
}

.menu-li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
}

.menu-li a:hover {
    background-color: #FFD700;
}

.menu-active {
    background-color: #BD0000;
}