{% extends 'base.html' %}

{% block content %}

<p><a href="/tatian"><font size='3'>Der althochdeutsche Tatian</font></a></p>
<p><a href="/eide"><font size='3'>Die Straßburger Eide</font></a></p>
<p><a href="/wessobrunner"><font size='3'>Das Wessobrunner Gebet</font></a></p>
<p><a href="/isidor"><font size='3'>Der althochdeutsche Isidor</font></a></p>
<p><a href="/merseburger1"><font size='3'>Der Erste Merseburger Zauberspruch</font></a></p>
<p><a href="/merseburger2"><font size='3'>Der Zweite Merseburger Zauberspruch</font></a></p>
<p><a href="/muspilli"><font size='3'>Muspilli</font></a></p>
<p><a href="/hildebrandslied"><font size='3'>Das Hildebrandslied</font></a></p>
<p><a href="/glossen"><font size='3'>Kasseler Glossen (Kasseler Gespräche)</font></a></p>
<p><a href="/evangelienbuch"><font size='3'>Otrfrids Evangelienbuch</font></a></p>
<p><a href="/physyologus"><font size='3'>Der Ältere Physyologus</font></a></p>
<p><a href="/ludwigslied"><font size='3'>Ludwigslied</font></a></p>
<p><a href="/notker"><font size='3'>Notker - Boethius Consolatio philosophiae</font></a></p>
{% endblock %}
